body {
  background-color: #f7f7f7;
  color: #000000;
  line-height: 44px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  word-wrap: break-word;
}
@media (min-width: 660px) {
  body {
    font-size: 1.30em;
  }
}
img {
  max-width: 100%;
}
.container {
  padding: 8% 6%;
}
@media (min-width: 660px) {
  .container {
    padding: 8% 12%;
  }
}
.about h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
.avatar {
  width: 100%;
  text-align: center;
}
.avatar img {
  width: 100px;
  display: inline;
  border-radius: 50%;
}
.avatar ul li {
  display: inline;
}
.unstyled-list {
  list-style: none;
  padding: 0;
}
a,
a:visited {
  color: #4e2a8e;
}
h3 {
  margin-bottom: 0;
}
